name: Flutter APK Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Repo indir
        uses: actions/checkout@v4

      - name: Flutter kurulumu
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Paketleri yükle
        run: flutter pub get

      - name: Debug APK oluştur
        run: flutter build apk --debug

      - name: APK'yı Artifact olarak yükle
        uses: actions/upload-artifact@v4
        with:
          name: BabilAnaliz-APK
          path: build/app/outputs/flutter-apk/app-debug.apk