name: Build Flutter APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set working directory
        run: echo "WORK_DIR=$(ls -d */ | head -n 1)" >> $GITHUB_ENV

      - name: Print working dir
        run: echo $WORK_DIR

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get
        working-directory: ${{ env.WORK_DIR }}

      - name: Build APK
        run: flutter build apk --release
        working-directory: ${{ env.WORK_DIR }}

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: BabilAnaliz-APK
          path: ${{ env.WORK_DIR }}build/app/outputs/flutter-apk/app-release.apk